Brotli
certifi
charset-normalizer
filelock
idna
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
mpmath
networkx
numpy
pillow
PySocks
PyYAML
requests
setuptools
sympy
torch
torchaudio
torchvision
typing_extensions
urllib3
wheel
win-inet-pton
